*
{
    margin:0px;
    padding:0px;
}


html
{
    background-color: #4E5160;
}

body
{
    font-family: arial;
    margin: 0 auto;
    padding: 35px 50px 15px 50px;
    width: 1056px;
    background-color: #FFFFFF;
    color: #4E5260;
    font-size:12px;
}

table
{
    border-top: 4px solid #4F535F;
    border-left: 0px solid;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 50px;
}
td, th
{
    border: 1px solid #CCCCCC;    
    vertical-align: top;
    border-left: 0px solid;    
}

th
{
    padding-top:45px;
    padding-bottom:10px;
    font-weight:normal;
}

th.title
{
    padding-left:0px;   
    margin:0px;
    text-align:left;
    width:550px;    
}

.title img
{
    display:block;
    float:left;
}
.title-text
{
    display:block;
    float:left; 
    margin-top:14px;
    text-transform:uppercase;
    font-weight:bold;
}

th img
{
    margin-right:5px;
}

td
{
    height:42px;
    vertical-align:middle;
}

thead th
{
    vertical-align: bottom;
}
tbody th
{
    text-align: left;
}

th.current
{
    background-color: #4E5160;
    color: #FFFFFF;
    font-weight:bold;
}

.shim-row
{
    background-color: #F5F7F6; 
}

.shim-row td
{
    height:auto !important;
    padding: 15px 0px 0px 10px;    
    border-top:0px solid #F5F7F6 !important;
    border-bottom:0px solid #F5F7F6 !important;
}

.shim-row td.shim
{
    background-position:bottom;    
}

.shim-row td.supported
{
    background-position:bottom;    
}

.shim-row td a
{
    color: #4E5260;
    font-weight: bold;
}

.feature-description td
{
    padding: 15px 30px 25px 10px;
    font-size: 0.9em;
    line-height: 1.7em;
}

td .title
{
    margin:15px 30px 0px 0px;
    display:block;    
}

td.feature
{
    background:transparent url('images/arrow.png') no-repeat left;
    text-transform:uppercase;
    padding-left:10px;
}

td.selected
{
    background:transparent url('images/arrow_down.png') no-repeat left; 
}

footer
{
    width: 100%;
    margin: auto;
    background-color: #F5F7F6;
    border: 1px solid #CCCCCC;
    height: 46px;
}

.h5-logo
{
    background-image: url('images/h5-logo.png');
}

footer .h5-logo
{
    width: 56px;
    height: 64px;
    left: 0px;
    float: left;
    margin-top: -7px;
    margin-left: -5px;
}

footer .h5-logos
{
    float: left;
    background-image: url('images/h5-logos.png');
    background-repeat: no-repeat;
    background-color: #F5F7F6;
    width: 256px;
    height: 20px;
    margin-top: 13px;
    margin-left: 10px;
}

header
{
    width: 100%;
    margin: 0px auto 35px auto;
    height: 75px;
}

.legend
{
    border-left: 1px solid #CCCCCC;
    padding-left: 11px;
    float: right;
    font-size: 1em;
    width: 155px;
}

.legend-row
{
    margin: 10px 0px 5px 0px;
}
.status
{
    float: left;
    width: 20px;
    height: 16px;
    margin-right: 10px;
}

.supported
{
    background: transparent url('images/supported.png') no-repeat center;
}

.legend-row .supported
{
    width: 20px;
    height: 20px;
    margin-top:-5px;
}


.shim
{
    background: transparent url('images/shim.png') no-repeat center;
}

.legend-row .shim
{
    width: 20px;
    height: 20px;
    margin-top:-5px;
}

.description
{    
}

.browser
{
    width: 42px;
    margin:auto;
    padding-top:41px;    
}

.browser img
{    
    padding:0px;
    display:block;
    margin:auto auto 4px auto;
    width:25px;
    height:25px;
}


.logo
{
    float: left;
    width: 186px;
    height: 71px;
    background: transparent url('images/main_logo.png') no-repeat;
}