*
{
}


html
{
    background-color: #4E5160;
}

body
{
    font-family: arial;
    margin: 0 auto;
    padding: 35px 50px 15px 50px;
    width: 1056px;
    background-color: #FFFFFF;
    color: #4E5260;
    font-size: 12px;
}

#breadcrumbs{
	position:absolute;
	top:0;
}
	#breadcrumbs a{
		color:#ccc;
		text-decoration:none;
		-webkit-transition:0.3s;
	}
	#breadcrumbs a:after{
		content:" / ";
	}
	#breadcrumbs a:hover{
		color:gray;
	}

table
{
    border-left: 0px solid;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 50px;
    width:100%;
}
	td, th
	{
	    border: 1px solid #CCCCCC;
	    vertical-align: top;
	    border-left: 0px solid;
	}
	
	thead.float{
		top:0;
		position:fixed;
		-webkit-transition:0.5s;
		width:1056px;
	}
	thead.float.show{
		box-shadow:0 10px 10px -10px black;
		-webkit-box-shadow: 0 10px 10px -10px black;
		-moz-box-shadow: 0 10px 10px -10px black; 
		filter: progid:DXImageTransform.Microsoft.dropShadow(color=#11000000, offX=0, offY=3px, positive=true);
	}

	thead{
	    border-top: 4px solid #4F535F;
	}
		thead th,
		thead td{
		    padding: 41px 0 10px 0;
		    font-weight: normal;
		    vertical-align: bottom;
		    margin: 0;
		    background-color:white;
		    overflow:hidden;
		}

		thead th
		{
		    text-align: left;
		    width:50%;
		}
			thead th img
			{
			    display: block;
			    float: left;
				margin-right:5px;
			}
			thead th span
			{
			    float: left;
			    display: block;
			    margin-top: 14px;
			    text-transform: uppercase;
			    font-weight: bold;
			}
		thead td{
		    width: 45px !important;
		    overflow:hidden;
		    text-align:center;
		}
			thead td img{
			    margin-right: 5px;
			    padding: 0px;
			    display: block;
			    margin: auto auto 4px auto;
			    width: 25px;
			    height: 25px;
			}

	tr th{
	}
	tbody{
	}
		tbody tr th
		{
		    text-align: left;
		}
		tbody tr td{
		    padding:0;
		    overflow:hidden;
		}

		tbody tr.feature-row {
	
		}
			tbody tr.feature-row th{
			    background: transparent url('images/arrow.png') no-repeat left;
			    text-transform: uppercase;
			    padding-left: 10px;
			    cursor: pointer;
			}
			tbody tr.feature-row th.selected{
			    background: transparent url('images/arrow_down.png') no-repeat left;
			}
	
			tbody tr.feature-row td,
			tbody tr.feature-row th
			{
			    height: 42px;
			    vertical-align:middle;
			    text-align:left;
			    font-weight:normal;
			}
			tbody tr.feature-row td{
			    width:45px;
    		    text-align:center;
    		    vertical-align:bottom;
			}
		
		tbody tr.shim-row
		{
		    background-color: #F5F7F6;
		    display: none;
		}
		
			tbody tr.shim-row td
			{
			    padding: 15px 0px 0px 10px;
			    border-top: 0px solid;
			    border-bottom: 0px solid;
			}
		
			tbody tr.shim-row td.shim,
			tbody tr.shim-row td.supported
			{
			    background-position: bottom;
			}

				tbody tr.shim-row td a{
				    color: #4E5260;
				    font-weight: bold;
				}
	
		tbody tr.feature-description{
	
		}
			tbody tr.feature-description td
			{
			    padding-bottom: 25px;
			    font-size: 0.9em;
			    line-height: 1.7em;
			}
	

		tbody tr.selected{
			display:table-row;
		}
		
		tbody tr.hide{
			display:none;
		}
	



footer
{
    width: 100%;
    margin: 35px auto auto auto;
    background-color: #F5F7F6;
    border: 1px solid #CCCCCC;
    min-height: 46px;
    display: block;
}

	.h5-logo
	{
	    background-image: url('images/h5-logo.png');
	}

	footer .h5-logo
	{
	    width: 56px;
	    height: 64px;
	    left: 0px;
	    float: left;
	    margin-top: -7px;
	    margin-left: -5px;
	}
	
	footer .h5-logos
	{
	    float: left;
	    background-image: url('images/h5-logos.png');
	    background-repeat: no-repeat;
	    background-color: #F5F7F6;
	    width: 256px;
	    height: 20px;
	    margin-top: 13px;
	    margin-left: 10px;
	}
	footer a.control{
		display: inline-block;
		margin: 15px 0 15px 40px;
		font-size: 15px;
		text-decoration:underline;
		color:inherit;
	}
	footer a.control:hover{
		cursor:pointer;
	}
	
	footer #disqus_thread{
		margin:40px;
		padding:40px;
		background-color:white;
		border: 1px solid #CCC;
	}



header{
    width: auto;
    margin: 0px auto 35px auto;
    height: 75px;
    position:relative;
    display: block;
    background: transparent url('images/main_logo.png') no-repeat;
	padding-left:190px;
}
	header a.git{
		position:absolute;
		right:-65px;
		top:0;
		margin:0;
		padding:0;
		width:29px;
		height:99px;
		display:block;
		background:url(images/github_fork.png) no-repeat;
		box-shadow:-3px 3px 3px rgba(0,0,0,0.2);
	}

	header a{
		font-size:1.3em;
		font-family:"Arial Bold",Arial;
		margin-left:50px;
		text-transform:uppercase;
		text-decoration:none;
		color:#4E5160;
		font-stretch: narrower;
		letter-spacing:-1px;
		border:1px solid transparent;
		padding:5px;
	}
	header a:hover{
		color:#6E7180;
	}
	header a.selected{
		background-color:#F5F7F6;
		border-color:#CCC;
	}

	header input{
		font-size:18px;
		margin-left:210px;
		margin-top:30px;
		width:300px;
	}

	header h1, 
	header .legend{
	    border-left: 1px solid #CCCCCC;
	    padding-left: 11px;
	    position:absolute;
	    top:0;
	    right:0;
	    width: 155px;
	    margin: 0;
	}
	header .legend{
	    font-size: 1em;
	}

		header .legend .legend-row{
		    margin: 10px 0px 5px 0px;
		}
			.legend-row .supported{
			    width: 20px;
			    height: 20px;
			    margin-top: -5px;
			}
			.legend-row .shim{
			    width: 20px;
			    height: 20px;
			    margin-top: -5px;
			}



blockquote{
	background-color: #F5F7F5;
	border: 1px solid #CCC;
	padding: 15px;
	margin: 0 0 35px 0;
}
	blockquote p{
		margin:0;
		padding:0;
	}


/**
 * VIew Source
 */

#view-source {
  display: none;
}

html.view-source {
  margin: 0;
  background: #fff;
  padding: 20px;
}

html.view-source body > * {
  display: none;
}

html.view-source body #view-source {
  display: block !important;
  margin: 0;
  position:absolute;
  left:0;
  top:0;
  padding:20px;
}


/** Pretty printing styles. Used with prettify.js. */
pre { font-size: 14px; }
.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }



/**
 * Generic
 */
.status{
    float: left;
    width: 20px;
    height: 16px;
    margin-right: 10px;
}

.supported
{
    background-image: url('images/supported.png');
    background-repeat: no-repeat;
    background-position: center;
}
.shim
{
    background-image: url('images/shim.png');
    background-repeat: no-repeat;
    background-position: center;
}



.description{
}

/**
 * Launch demo page
 */ 
a.button{
	display:inline-block;
	border:none;
	
	/* IE10 */ 
	background-image: -ms-linear-gradient(rgba(255,255,255,0.2) 0,rgba(255,255,255,0) 49%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.2) 100%);
	/* IE < 10 */
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#30FFFFFF', endColorstr='#30000000');
	/* Chrome */
	background:-webkit-gradient(linear,left top, left bottom, from(rgba(255,255,255,0.2)), to(rgba(0,0,0,0.2)), 
				color-stop(50%,rgba(255,255,255,0)), 
				color-stop(50%,rgba(0,0,0,0)));
	/* FF */
	background: -moz-linear-gradient(rgba(255,255,255,0.2) 0,rgba(255,255,255,0) 49%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.2) 100%);
	/** Default */
	background-image: linear-gradient(rgba(255,255,255,0.2) 0,rgba(255,255,255,0) 49%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.2) 100%);

	
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px inset,
                        rgba(0, 0, 0, 0.4) 0px 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px inset,
                        rgba(0, 0, 0, 0.4) 0px 1px 1px;
	text-shadow:rgba(0, 0, 0, 0.4) 0px 1px;


	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:3px 6px;
	color:white;/*IE*/
	text-decoration:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	font-family:"Lucida Grande", Arial, sans-serif;
	font-size:13px;
	cursor:pointer;
	vertical-align: middle;
}
	a.button:active{
	    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px,
	                        rgba(0, 0, 0, 0.7) 0px 1px 3px inset,
	                        rgba(0, 0, 0, 0.1) 0px -5px 12px inset;
	    -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px,
	                        rgba(0, 0, 0, 0.7) 0px 1px 3px inset,
	                        rgba(0, 0, 0, 0.1) 0px -5px 12px inset;
		text-shadow:white 0 0 5px;
		color:white;
	}

a.button.blue{
	background-color:blue;	
}
a.button.green{
	background-color:green;	
}

a.button.yellow{
	background-color:yellow;
	color:black;	
}
a.button.orange{
	background-color:orange;
	color:black;	
}
a.button.red{
	background-color:red;
}

a.box{
	width:150px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:2.3em;
	height:120px;
	padding-top:30px;
	-webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(0, 0, 0, 0.3)));
	-webkit-transform: perspective(500px) rotateY(20deg);
	-webkit-transform-style: preserve-3d;
	-webkit-transition:0.3s;
	text-shadow: -2px 1px 0 #ccc, -2px 2px 0 #c9c9c9, -2px 3px 0 #bbb, -2px 4px 0 #b9b9b9, -2px 5px 0 #aaa, -2px 6px 1px rgba(0,0,0,.1), -2px 0 5px rgba(0,0,0,.1), -2px 1px 3px rgba(0,0,0,.3), -2px 3px 5px rgba(0,0,0,.2), -2px 5px 10px rgba(0,0,0,.25), -2px 10px 10px rgba(0,0,0,.2), -2px 20px 20px rgba(0,0,0,.15);
}
a.box:hover{
	-webkit-transform: perspective(500px) rotateY(0deg) scale(1.05);
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
a.box:hover ~ a.box{
	-webkit-transform: perspective(500px) rotateY(-20deg);
	text-shadow: 2px 1px 0 #ccc, 2px 2px 0 #c9c9c9, 2px 3px 0 #bbb, 2px 4px 0 #b9b9b9, 2px 5px 0 #aaa, 2px 6px 1px rgba(0,0,0,.1), 2px 0 5px rgba(0,0,0,.1), 2px 1px 3px rgba(0,0,0,.3), 2px 3px 5px rgba(0,0,0,.2), 2px 5px 10px rgba(0,0,0,.25), 2px 10px 10px rgba(0,0,0,.2), 2px 20px 20px rgba(0,0,0,.15);
}



article{
	display:none;
}
	article h2{
		margin-top:60px;
	}
	article h2:first-child{
		margin-top:30px;
	}

article.show{
	display:block;
}

#more{
	background:#ccc;
	border:none;
}

section{
}
	section figure{
		display:inline-block;
	}
		section figure img{
			border:1px solid #ccc;
		}

		section figure figcaption span{
			float:right;
			margin-left:5px;
			height:17px;
			width:17px;
			background-repeat:no-repeat;
			background-position:0 0;
		}
		
		 span.css3{
			background-image:url(images/css3.png);
		}
		 span.performance{
			background-image:url(images/performance.png);
		}
		 span.3d{
			background-image:url(images/3d.png);
		}
		 span.device{
			background-image:url(images/device.png);
		}
		 span.conn{
			background-image:url(images/connectivity.png);
		}
		 span.loader{
			background-image:url(images/loader.png);
		}
		 span.multimedia{
			background-image:url(images/multimedia.png);
		}
		 span.offline{
			background-image:url(images/offline.png);
		}
		 span.semantics{
			background-image:url(images/semantics.png);
		}

section{
}
	section .inline{
		vertical-align:top;
		display:inline-block;
	}
	section div.inline{
		width:50%;
		margin-left:20px;
		text-align:justify;
	}

