		#test{
			background-color:blue;
			height:100px;
			width:100px;
			color:white;
			padding:10px;
		}
   		@media all and (max-width: 800px){
			#test{
				background-color:red;
			}
		}
   		@media all and (orientation: portrait){
			#test{
				background-color:red;
			}
		}
