/* reset styles
--------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
 
    }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
    list-style: none;
    }
blockquote, q {
    quotes: none;
    }
table {
    border-collapse: collapse;
    border-spacing: 0;
    }
a:hover, a:active { outline: none; }  

    
    
/*---------------------------DOCKED ELEMENT STYLES ----------------------------*/


.ui-header{
    position: absolute;    
    width: 100%;    
    color:#333;
    height:50px;
     border-bottom:solid 1px #dcdcdc;    
}

.ui-header h2{
    margin: 15px auto 10px 50px;
}

.ui-footer  {
    position: absolute;    
    width: 100%;        
    background: #333 url(../images/bg.png);
    height:55px;
    font-family: 'Helvetica', 'Arial', 'Sans-serif';     
    font-weight:bold;
    color:#fff;
    border-top:solid 1px #000;
    
}
.ui-footer h2{
    margin: 15px auto 10px 50px;
}
  
.ui-header-fixed, .ui-footer-fixed {
	z-index: 1000;
	-webkit-transform: translateZ(0);
}

.ui-fixed-inline  {
    display: none; 
}

    
    
/* end reset
  ------------------------------------------------------------------------------*/

@font-face {
    font-family: 'HelveticaNeueLTStd35Thin';
    src: url('../fonts/helveticaneueltstd-th-webfont.woff');
    src: url('../fonts/helveticaneueltstd-th-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-th-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-th-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-th-webfont.svg#HelveticaNeueLTStd35Thin') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{
        
    font-family: "HelveticaNeueLTStd35Thin","Helvetica","Arial", "Sans-Serif";    
    background-color: #1e1e1e;
    overflow:hidden;
 }
  
#logo{
    
    background: url(../images/logo.jpg);
    background-repeat:no-repeat;
    z-index:100;
    width:73px;
    height:25px;
    margin: 0px auto 0px auto;
    position:relative;
}

#wrap{
    overflow:hidden;
}
#canvas{               
    position:absolute;
    z-index:1;    
}



.infobox {
    padding: 2px 10px;
    border: 1px solid #ccc;
    color: #1c1c1c;
    width: 150px;
    height: 150px;
    margin: 10px auto;
    position:absolute;
    top:0px;
    left:0px;   
    display: table-cell;
    vertical-align: middle;
    background-color: #eef1f1;
    background: -webkit-gradient(linear,0 0, 0 100%, from(#f0f0f0), to(#dcdcdc));
    
    -webkit-border-radius: 4px;
    border-radius:4px;
    -webkit-box-shadow: 1px 0 0 #fff inset,
                        0 1px 0 #fff inset;
    
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    opacity:0;
}


#progressBar{
    position:absolute;
    top:0px;
    left:0px;
    height:4px;
    background-color:#fec151;
}

#value{
    float:right;
    font-family:'times','serif';
    color:#fff;
    font-style: oblique;
    font-weight:bold;
    font-size:18px;
}

#preloader{
    position:absolute;
    top:0px;
    left:0px;
    
}


#wrap{
    
 /*   overflow:hidden;	*/
}

#backBtn{
    position:absolute;
    left:0px;
    top:0px;
    background-color: rgba(0,0,0,.6);
    background-image: url(../images/backBtn.png);
    background-repeat: no-repeat;
    background-position: center center;    
    z-index:10;    
    width:50px;
    height:50px;
    cursor:pointer;
    display: none;

}
#dashBtn
{
    position:absolute;
    left:0px;
    top:0px;
    background-color: rgba(0,0,0,.6);
    background-image: url(../images/dashboardBtn.png);
    background-repeat: no-repeat;
    background-position: center center;    
    z-index:10;    
    width:50px;
    height:50px;
    cursor:pointer;
    display: none;

}

#sale{
    font-family: 'Helvetica', 'Arial', 'Sans-serif';    
    position:absolute;
    left:60px;
    top:10px;
    float:left;        
    z-index:10;
    color:#fff;
    font-size:12px;
    display: none;
}
.saleTitle{
      
    font-size:16px;
    color:#fec151;    
}

#dataList {
     
	position:absolute;
	left:0px;
	top:0px;        
}




.listItem{
    position:absolute;
    top:0px;
    left:0px;    
    border:solid 1px #000;
    overflow: hidden;    
}

.listItem .salesContainer{
    position:absolute;
    top:0px;
    left:0px;
    
}
.listItem .salesContainer .title{
    position:absolute;
    bottom:-120px;
    width:100%;
    height:45px;
    background-color: rgba(0,0,0, 0.6);
    padding:15px 0px 0px 10px;
    font-family: 'Helvetica', 'Arial', 'Sans-serif';     
    font-weight:bold;
    color:#fff;
    opacity:1;
}


.listItem .container{
    
    position:absolute;
    top:0px;
    left:0px;
    opacity: 0;
}

div.listItem .listImage{
       
   height:100%;
   max-height:14400px; 
}

div.listItem .container > h2{
    
    font-size:46px;
    position:absolute;
    top:265px;
    left:500px;
    color:#333;
    font-weight:300;
    width:270px;
    
    
}
div.listItem .container > h3{
        
    font-size:21px;
    position:absolute;
    top:235px;
    left:60px;
    color:#fff;
    font-weight:300;
    font-style:italic;
    white-space:nowrap;
    
}

div.listItem .container .sizes{
    
    position:absolute;
    background:  url(../images/sizes.png);
    top:400px;
    left:550px;
    width:158px;
    height:36px;
}

div.listItem .container .price{
    
    font-family: 'Helvetica', 'Arial', 'Sans-serif';
    font-weight:bold;
    font-size:32px;
    position:absolute;
    top:450px;
    left:575px;
    color:#333;
    font-weight:bold;
    white-space:nowrap;
}

div.listItem .container .oldPrice{
    
    font-family: 'Helvetica', 'Arial', 'Sans-serif';
    font-weight:bold;
    font-size:21px;
    position:absolute;
    top:500px;
    left:660px;
    color:#fff;    
}



nav {       
	 float:left;	
}	
nav ul {    
	
	float:left;
}

nav  li {
    
    font-family: 'Helvetica', 'Arial', 'Sans-serif';
    font-weight:bold;
    float:left;    
    margin-top:20px;
    margin-left:20px;
    
}

nav .first { }
nav .selected li{ color:#fec151;}
nav .selected a { color: #fec151; }
nav .selected a:hover { color: white; }
nav .selected a:visited { color: white; }

nav li a {
	text-decoration: none;
	display:inline;
	color:#fff;
	margin:0px;
	padding:0px;
	float:left
}

nav li a:hover {
    color: #fec151;
}

#cart{
 
    position:absolute;
    width:100%;
    height:150px;
    top:0px;
    background-color:#1e1e1e;
    left:0;
    z-index:999;
    opacity:0;
}


#cart .handle {
    font-family: 'Helvetica', 'Arial', 'Sans-serif';     
    font-weight:bold;
    color:#fff;
   -webkit-user-select:none;
    position:absolute;
    top:-55px;
    left:0;
    width:100%;
    height:55px;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    background: #333 url(../images/bg.png);
    opacity:0;
}

#cart .handle:before{
    
   content: "";
   position: absolute;
   top: 0px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   background-image:url('../images/shadow.png');
   background-repeat: repeat-x;
   
}


 #cartInfo{
    
    float:right;
    margin: 5px auto;    
    width:150px;      
    height:45px;
    padding:10px;
    cursor:pointer;  
}

#cartItems{
    
    clear:left;
    float:left;
    margin-top:10px;
    margin-left:45px;
}

#cartInfo > span{
    
    margin:8px 0px 0px 8px;
    float:left;
}

#cartIcon{
    
    float:left;
}
#cartTotal{
    font-family: 'Helvetica', 'Arial', 'Sans-serif';     
    font-weight:bold;
    color:#fff;
    clear:right;
    float:right;
    margin:25px 55px  0px  0px;
    text-align:right;
}
#cartCount{
    
    color: #fec151;
    
}
#checkOutBtn{
    
    clear:right;
    float:right;
    width:191px;
    height:39px;
    margin:10px 50px  0px  0px;    
    background-image: url('../images/checkoutBtn.jpg');
    background-repeat:no-repeat;
    cursor:pointer;
}

#itemList {       
	 float:left;	
}	
#itemList ul {    
	
	float:left;
}

#itemList  li {
    
    font-family: 'Helvetica', 'Arial', 'Sans-serif';
    font-weight:bold;
    float:left;    
    margin-top:10px;
    margin-left:10px;
    
}



#dragDim{    
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;        
    background-color: rgba(0,0,0,.45);
    z-index:500;
    opacity:0;
    display:none;
}

#dragContainer{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;            
    z-index:10000;
}
.dragHolder{
     
     -webkit-box-shadow: 0px 1px 5px 0px #000;
     -moz-box-shadow: 0px 1px 5px 0px #000;
     box-shadow: 0px 1px 5px 0px #000;
    
    position: absolute;
    text-align: center;

}

/*---------------------------LOADER STYLES ----------------------------*/

#container {

	width: 1144px;	
	margin: 0 auto;
}

header {
	height: 50px;
	padding: 15px 0 0 9px;
	width: 1144px;
}

#main{margin-top:25px;}
.womens, .mens, .kids { float: left;}
.mens, .kids { margin-left: 10px; }

.womens { width: 510px; }
.mens { width: 408px; }
.kids { width: 204px; }

.womens .block-a, .womens .block-b,.womens .block-c,.womens .block-d { background: #000000; }
.mens .block-a, .mens .block-b,.mens .block-c,.mens .block-d { background: #373737; }
.kids .block-a, .kids .block-b,.kids .block-c,.kids .block-d { background: #FFFFFF; }

.block-a { width: 100px; height: 100px;  overflow:hidden; }
.block-b { width: 202px; height: 202px; overflow:hidden; cursor:pointer; }
.block-c { width: 406px; height: 202px; overflow:hidden; }
.block-d { width: 507px; height: 197px; overflow:hidden; }

.block-a,.block-b,.block-c,.block-d { display: inline-block; float: left; margin: 1px; overflow: hidden; }

.skinny { height: 98px; }
.welcome { margin-top: 10px; }
.welcomeContent { padding: 20px; width: 310px; }

.welcome h1 { font-family:"Helvetica", "Arial", "Sans-serif";
               font-size: 1.4em; color: #FABE50; font-weight: bold; margin-top: 20px; }
.welcome p {  font-family:"Helvetica", "Arial", "Sans-serif"; font-size: .9em; color: #959595; }
.welcome h3 { font-family:"Helvetica", "Arial", "Sans-serif";  font-size: .95em; color: white; margin-top: 10px; }

/*---------------------------CSS ANIMATIONS ----------------------------*/

.in  {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
    
   
}
.out{
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 350ms;
}


@-webkit-keyframes fadein {
    
    to { opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade.in {
    opacity: 1;
    z-index: 10;
    -webkit-animation-name: fadein;
}
.fade.out {
    z-index: 0;
    -webkit-animation-name: fadeout;
}


.pop {
	-webkit-transform-origin: 50% 50%;
}

.pop.in {
	-webkit-transform: scale3d(1,1,0);
    opacity: 1;
	-webkit-animation-name: popin;
	z-index: 10;
}

.pop.out {
	-webkit-transform: scale3d(.2,.2,0);
	opacity: 0;
	-webkit-animation-name: popout;
	z-index: 10;
}

@-webkit-keyframes popin {
    from {
        -webkit-transform: scale3d(.2,.2,0);
        opacity: 0;
    }
    to {
        -webkit-transform: scale3d(1,1,0);
        opacity: 1;
    }
}

@-webkit-keyframes popout {
    from {
        -webkit-transform: scale3d(1,1,0);
        opacity: 1;
    }
    to {
        -webkit-transform: scale3d(.2,.2,0);
        opacity: 0;
    }
}


h1.title{
	cursor:pointer;
	color:#FABE50;
	font-family: 'Helvetica', 'Arial', 'Sans-serif';
	font-size: 1.4em;
	font-weight: bold;
	margin: 200px 0 0 20px;
}